

.login{
    max-width: 1200px;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(3 auto);
    grid-template-areas: "caja imagen"
                         "caja imagen"
                         "borbuja borbuja";
}

body{
    background: rgb(92, 92, 212);
    
    font-family: cursive;
}

h1{
    font-size: 50px;
}
.login .caja{
    color: white;
    grid-area: caja;
    margin-top: 250px;
    font-size: 30px;
}

.login .imagen{
    margin-top: 250px;
    grid-area: imagen;
   
}

div{
    margin-bottom: 30px;
}

input{
    border: none;
    color: white;
    border-bottom: solid 1px white;
    width: 300px;
    height: 40px;
    background: rgb(92, 92, 212);
}

.imagen{
    animation: movimiento 2.5s linear infinite;
  
}

img{
    width: 400px;
    height: 350px;
    border-radius: 50%;
}

.burbuja{
    grid-area: borbuja;
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: .150;
    
    animation: burbujas 3s linear infinite;
}



.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}


.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
   
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}


.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 50px;
    height: 50px;
    left: 50%;
    animation-duration: 6s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 33s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }

}
@media screen and (max-width: 768px) {
    .login{
        grid-template-areas: "caja caja"
                            "imagen imagen"
                             "borbuja borbuja";
    }

    .imagen{
        margin-left: 30px ;
    }
}