td{
    width: 25%;
    height: 25%;
    
}

#tabla01{
    margin: auto;
    padding-left:auto;
    text-align:center;
    padding-top: 20px;
}
#quien{
    background-color: black;
    color: white;
}
#modulo{
    background-color: rgb(0, 0, 0);
    color: rgb(224, 65, 198);
    
}
#error{
    background-color: rgb(15, 15, 15);
    color: rgb(224, 65, 198);
}
tbody tr td{
    background-color: black;
    color: white;
}
#preguntas{
    margin-right:200px;
    margin-left: 200px;
    
}
#preguntas select{
    border-radius: 10%;
    border-color: crimson;
}
#containerTabla{
    display:contents; 
    margin:auto;
    text-align: center;
    grid-template-columns:(3 1fr);
    grid-template-rows:(1 auto);
}
.preguntar{
    background-color: rgb(24, 16, 16);
    color: white;
    font-size: xx-large;
}